name: Deploy Feature Branch

on:
  push:
    branches: [ feature/ci-cd ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25
          cache: maven

      - name: Cache Sonar packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar

      - name: Build + Test + Sonar
        run: |
          ./mvnw clean verify sonar:sonar \
            -Dsonar.host.url=${{ secrets.SONAR_HOST }} \
            -Dsonar.token=${{ secrets.SONAR_TOKEN }} \
            -Dsonar.projectKey=Tusk-Core-API \
            -Dsonar.qualitygate.wait=true

#  Build:
#    runs-on: ubuntu-latest
#    needs: [ Tests, Sonar ]
#
#    steps:
#      - uses: actions/checkout@v4
#
#      - uses: actions/setup-java@v4
#        with:
#          distribution: temurin
#          java-version: 25
#          cache: maven
#
#      - run: ./mvnw clean package -DskipTests