name: Deploy Feature Branch

on:
  push:
    branches: [ feature/ci-cd ]

jobs:
  Tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25
          cache: maven

      - run: ./mvnw clean verify

  Sonar:
    runs-on: ubuntu-latest
    needs: Tests

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25
          cache: maven

      - run: |
          ./mvnw sonar:sonar \
          -Dsonar.host.url=${{ secrets.SONAR_HOST }} \
          -Dsonar.token=${{ secrets.SONAR_TOKEN }} \
          -Dsonar.projectKey=Tusk-Core-API

#  Build:
#    runs-on: ubuntu-latest
#    needs: [ Tests, Sonar ]
#
#    steps:
#      - uses: actions/checkout@v4
#
#      - uses: actions/setup-java@v4
#        with:
#          distribution: temurin
#          java-version: 25
#          cache: maven
#
#      - run: ./mvnw clean package -DskipTests