name: Deploy Feature Branch

on:
  push:
    branches: [ feature/ci-cd ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - run: ./mvnw clean verify